@{
    ViewData["Title"] = "Estado Resultado Mensual";
}



<h2 style="margin-top: 50px;" class="text-2xl font-bold mb-4">Estado Resultado Mes a Mes</h2>

<div class="container mx-auto mb-4 p-4 bg-white rounded-lg shadow-md">
    <p class="text-sm text-gray-600">
        Muestra mes a mes el estado resultado  de la empresa en el año actual.
    </p>
</div>
<button onclick="exportarExcelEERR('Mensual')" class="bg-green-500 text-white px-4 py-2 rounded">Exportar a Excel</button>
<div class="container mx-auto mt-4 p-4 bg-white rounded-lg shadow-md sticky top-[900px] z-50">
    <div class="overflow-x-auto relative">
        <div class="w-full max-w-3xl border-collapse text-left text-sm justify-center" id="tablaContainer"></div>
    </div>
</div>


<script>
    window.onload = async function () {
        const anio = new Date().getFullYear();
        const response = await fetch(`/Reporte/ObtenerEERR?anio=${anio}`);
        const data = await response.json();
        renderizarTabla(data,anio);
    }

    function renderizarTabla(data,anio) {
        
        const mesesUnicos = Array.from(
            new Set(data.map(d => `${d.mes}/${d.anio}`))
        ).sort((a, b) => {
            const [mesA, anioA] = a.split('/').map(Number);
            const [mesB, anioB] = b.split('/').map(Number);
            return anioA - anioB || mesA - mesB;
        });

    
        const tiposMap = {};
        for (const item of data) {
            if (!tiposMap[item.tipo]) tiposMap[item.tipo] = [];
            tiposMap[item.tipo].push(item);
        }

        let html = `<table id="tablaestadoresultado" class="min-w-full border-collapse table-auto"><thead><tr class="bg-blue-100 text-black"><th class="text-center  px-4 py-2 min-w-[100px] ">Tipo</th>`;
        for (const mes of mesesUnicos) {
            html += `<th class="text-center  px-4 py-2 min-w-[100px] ">${mes}</th>`;
        }
        html += `<th class="text-center  px-4 py-2 min-w-[100px] ">Total ${anio}</th>`;
        html += `<th class="text-center  px-4 py-2 min-w-[100px] ">%</th>`;

        html += `</tr></thead><tbody>`;

        const totalesPorMes = {};
       
        for (const mes of mesesUnicos) totalesPorMes[mes] = 0;
        const ventasAsesoriasPorMes = {};
        let totalVentasAsesorias = 0;
        
        if (tiposMap["Ingresos de la Explotación"]) {
            for (const item of tiposMap["Ingresos de la Explotación"]) {
                if (item.cuenta === "Ventas Asesorias") {
                    const claveMes = `${item.mes}/${item.anio}`;
                    if (!ventasAsesoriasPorMes[claveMes]) ventasAsesoriasPorMes[claveMes] = 0;
                    ventasAsesoriasPorMes[claveMes] += item.monto;
                  totalVentasAsesorias += item.monto;
                }
            }
        }

        const totalesInversion = {};
        const totalesGastosAdmVentas = {};
        const totalesEgresosFueraExplotacion = {};
        const totalesIIDyA = {};
        const utilidadNetaPorMes = {};
        function acumularTotalesTipo(tipoNombre, acumulador) {
            if (tiposMap[tipoNombre]) {
                for (const item of tiposMap[tipoNombre]) {
                    const claveMes = `${item.mes}/${item.anio}`;
                    if (!acumulador[claveMes]) acumulador[claveMes] = 0;
                    acumulador[claveMes] += item.monto;
                }
            }
        }

        acumularTotalesTipo("Inversion", totalesInversion);
        acumularTotalesTipo("Gastos de Administración y Ventas", totalesGastosAdmVentas);
        acumularTotalesTipo("Egresos fuera de la Explotación", totalesEgresosFueraExplotacion);
        acumularTotalesTipo("Intereses, Impuestos, Depreciaciones y Amortizaciones", totalesIIDyA);
        let utilidadNetaAgregada = false;
            const ordenTipos = [
                 "Ingresos de la Explotación",
                 "Costos Directos",
                "Gastos de Administración y Ventas",
                
                "Inversion",
                "Ingresos fuera de la Explotación",
                "Egresos fuera de la Explotación",
                 "Intereses, Impuestos, Depreciaciones y Amortizaciones"
                 ];

        for (const tipo of ordenTipos) {
            if (!tiposMap[tipo]) continue;
            
            const totalesTipoMes = {};
            for (const item of tiposMap[tipo]) {
                const claveMes = `${item.mes}/${item.anio}`;
                if (!totalesTipoMes[claveMes]) totalesTipoMes[claveMes] = 0;
                totalesTipoMes[claveMes] += item.monto;
            }

            
            html += `<tr class="p-2 bg-gray-300   border border-black font-bold "><td class="text-left sticky left-0 bg-gray text-xs min-w-[300px]">${tipo}</td>`;
            for (const mes of mesesUnicos) {
                const suma = totalesTipoMes[mes] || 0;
                html += `<td class="text-right text-xs  border border-black px-4 py-2 min-w-[250px]">${suma === 0 ? '' : suma.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })}</td>`;

            }
            
            const totalAnualTipo = mesesUnicos.reduce((acc, mes) => acc + (totalesTipoMes[mes] || 0), 0);
            html += `<td class="text-right text-xs  border border-black px-4 py-2 min-w-[250px]">${totalAnualTipo ===0 ? '' :   totalAnualTipo.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })}</td>`;
               let porcentajetotaltipo = 0;
                if (totalVentasAsesorias !== 0) {
                        porcentajetotaltipo = (totalAnualTipo / totalVentasAsesorias) * 100;
                }
            html += `<td class="text-right text-xs  border border-black px-4 py-2 min-w-[250px]">${porcentajetotaltipo === 0 ? '' : porcentajetotaltipo.toFixed(2)}%</td>`;

            html += `</tr>`;

            const cuentas = {};
            for (const item of tiposMap[tipo]) {
                if (!cuentas[item.cuenta]) cuentas[item.cuenta] = {};
                const claveMes = `${item.mes}/${item.anio}`;
                if (!cuentas[item.cuenta][claveMes]) cuentas[item.cuenta][claveMes] = 0;
                cuentas[item.cuenta][claveMes] += item.monto;
            }

            Object.keys(cuentas).sort().forEach(cuenta => {
                html += `<tr><td class="text-left text-xs sticky left-0 bg-white min-w-[300px]">${cuenta}</td>`;
                let totalCuenta = 0;
                for (const mes of mesesUnicos) {
                    const monto = cuentas[cuenta][mes] || 0;
                    html += `<td class="text-xs border  text-right border-black px-4 py-2 min-w-[100px]">${ monto === 0 ? '' : monto.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })}</td>`;
                    totalCuenta += monto;
                    totalesPorMes[mes] += monto;
                }
                html += `<td class="text-xs border  text-right border-black px-4 py-2 min-w-[100px]">${totalCuenta === 0 ? '' : totalCuenta.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })}</td>`;
                let porcentajetotalcuenta = 0;
                if (totalVentasAsesorias !== 0) {
                        porcentajetotalcuenta = (totalCuenta / totalVentasAsesorias) * 100;
                }
                html += `<td class="text-xs border  text-right border-black px-4 py-2 min-w-[100px]">${porcentajetotalcuenta === 0 ? '' :  porcentajetotalcuenta.toFixed(2)}%</td>`;
                html += `</tr>`;
            });
            // Margen de contribución
            if (tipo === "Costos Directos") {
                html += `<tr class="p-2 bg-gray-300 border border-black font-bold "><td class="text-left sticky left-0 bg-gray text-xs min-w-[300px]">Margen de contribución</td>`;
                let totalmargen = 0;
                let totalventa = 0;
                for (const mes of mesesUnicos) {
                    const venta = ventasAsesoriasPorMes[mes] || 0;
                    const costo = totalesTipoMes[mes] || 0;
                    const margen = venta + costo;
                    totalmargen += margen;
                    totalventa +=venta;
                    html += `<td class="text-right text-xs border border-black px-4 py-2 min-w-[250px]">${margen === 0 ? '' :margen.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })}</td>`;
                }
                html += `<td class="text-right text-xs border border-black px-4 py-2 min-w-[250px]">${totalmargen === 0 ? '' : totalmargen.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })}</td>`;
                 let porcentajetotalmargen = 0;
                 if (totalventa !== 0) {
                        porcentajetotalmargen = (totalmargen / totalventa) * 100;
                 }
                 html += `<td class="text-right text-xs border border-black px-4 py-2 min-w-[250px]">${porcentajetotalmargen === 0 ? '' : porcentajetotalmargen.toFixed(2)}%</td>`;
                 // % MARGEN DE CONTRIBUCION
                html += `<tr class="p-2 bg-gray-300  font-bold border border-black"><td class="text-left sticky left-0 bg-gray text-xs min-w-[300px]">% Margen de contribución</td>`;
                for (const mes of mesesUnicos) {
                    const venta = ventasAsesoriasPorMes[mes] || 0;
                    const costo = totalesTipoMes[mes] || 0;
                    const margen = venta + costo;

                    let porcentaje = 0;
                    if (venta !== 0) {
                        porcentaje = (margen / venta) * 100;
                    }
                  
                    html += `<td class="text-right text-xs border border-black px-4 py-2 min-w-[250px]">${porcentaje === 0 ? '' : porcentaje.toFixed(2)}%</td>`;
                }
               
                 html += `<td class="text-right text-xs border border-black px-4 py-2 min-w-[250px]">${porcentajetotalmargen === 0 ? '': porcentajetotalmargen.toFixed(2)}%</td>`;
                  html += `<td class="text-right text-xs border border-black px-4 py-2 min-w-[250px]">${porcentajetotalmargen === 0 ? '': porcentajetotalmargen.toFixed(2)}%</td>`;
                html += `</tr>`;
            }
            // EBITDA
            if (tipo === "Egresos fuera de la Explotación") {
                
                html += `<tr class="p-2 bg-gray-300 border border-black font-bold "><td class="text-left sticky left-0 bg-gray text-xs min-w-[300px]">EBITDA</td>`;
                let totalebitda = 0;
                for (const mes of mesesUnicos) {
                    const margen = (() => {
                        const venta = ventasAsesoriasPorMes[mes] || 0;
                        const costo = (tiposMap["Costos Directos"] ? tiposMap["Costos Directos"].reduce((acc, cur) => {
                            if (`${cur.mes}/${cur.anio}` === mes) return acc + cur.monto;
                            return acc;
                        }, 0) : 0);
                        return venta + costo;
                    })();

                    const inversion = totalesInversion[mes] || 0;
                    const gastosAdmVentas = totalesGastosAdmVentas[mes] || 0;
                    const egresosFuera = totalesEgresosFueraExplotacion[mes] || 0;

                    const ebitda = margen + inversion + gastosAdmVentas + egresosFuera;
                    totalebitda += ebitda;
                    html += `<td class="text-right text-xs border border-black px-4 py-2 min-w-[250px]">${ebitda === 0 ? '': ebitda.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })}</td>`;
                }
                html += `<td class="text-right text-xs border border-black px-4 py-2 min-w-[250px]">${totalebitda === 0 ? '': totalebitda.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })}</td>`;
                 let porcentajetotalebitda = 0;
                 if (totalVentasAsesorias !== 0) {
                        porcentajetotalebitda = (totalebitda / totalVentasAsesorias) * 100;
                 }
                 html += `<td class="text-right text-xs border border-black px-4 py-2 min-w-[250px]">${porcentajetotalebitda === 0 ? '': porcentajetotalebitda.toFixed(2)}%</td>`;
                html += `</tr>`;
            }
            if (tipo === "Intereses, Impuestos, Depreciaciones y Amortizaciones") {
                html += generarFilaUtilidadNeta(mesesUnicos, ventasAsesoriasPorMes, tiposMap, totalesIIDyA, utilidadNetaPorMes);
                utilidadNetaAgregada = true;
                html += generarFilaPorcentajeUtilidadNeta(mesesUnicos, tiposMap, utilidadNetaPorMes);
            }

           
        }
        if (!utilidadNetaAgregada) {
            html += generarFilaUtilidadNeta(mesesUnicos, ventasAsesoriasPorMes, tiposMap, totalesIIDyA, utilidadNetaPorMes);
            html += generarFilaPorcentajeUtilidadNeta(mesesUnicos, tiposMap, utilidadNetaPorMes);
        }
       
        html += `</tr>`;

        html += `</tbody></table>`;
        document.getElementById('tablaContainer').innerHTML = html;
    }
    function generarFilaUtilidadNeta(mesesUnicos, ventasAsesoriasPorMes, tiposMap, totalesIIDyA, utilidadNetaPorMes) {
        
        const totalesInversion = {};
        const totalesGastosAdmVentas = {};
        const totalesEgresosFueraExplotacion = {};

        function acumularTotales(tipoNombre, acumulador) {
            if (tiposMap[tipoNombre]) {
                for (const item of tiposMap[tipoNombre]) {
                    const claveMes = `${item.mes}/${item.anio}`;
                    if (!acumulador[claveMes]) acumulador[claveMes] = 0;
                    acumulador[claveMes] += item.monto;
                }
            }
        }
        acumularTotales("Inversion", totalesInversion);
        acumularTotales("Gastos de Administración y Ventas", totalesGastosAdmVentas);
        acumularTotales("Egresos fuera de la Explotación", totalesEgresosFueraExplotacion);

        let fila = `<tr class="p-2 bg-gray-300 border border-black font-bold "><td class="text-left sticky left-0 bg-gray text-xs min-w-[300px]">Utilidad neta</td>`;
        let totaleneto = 0;
        let totalingreo = 0;
        for (const mes of mesesUnicos) {
            const venta = ventasAsesoriasPorMes[mes] || 0;
            const costo = (tiposMap["Costos Directos"] ? tiposMap["Costos Directos"].reduce((acc, cur) => {
                if (`${cur.mes}/${cur.anio}` === mes) return acc + cur.monto;
                return acc;
            }, 0) : 0);
            const margen = venta + costo;

            const inversion = totalesInversion[mes] || 0;
            const gastosAdmVentas = totalesGastosAdmVentas[mes] || 0;
            const egresosFuera = totalesEgresosFueraExplotacion[mes] || 0;
            const ebitda = margen + inversion + gastosAdmVentas + egresosFuera;
            totalingreo+=venta;
            const iidya = totalesIIDyA[mes] || 0;

            const utilidadNeta = ebitda + iidya;
            totaleneto+=utilidadNeta;
            utilidadNetaPorMes[mes] = utilidadNeta;

            fila += `<td class="text-right text-xs border border-black px-4 py-2 min-w-[250px]">${utilidadNeta === 0 ? '' : utilidadNeta.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })}</td>`;
        }
        fila += `<td class="text-right text-xs border border-black px-4 py-2 min-w-[250px]">${totaleneto === 0 ? '' :totaleneto.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })}</td>`;
         let porcentajetotal = 0;
        if (totalingreo !== 0) {
                porcentajetotal = (totaleneto / totalingreo) * 100;
            }
            fila += `<td class="text-right text-xs border border-black px-4 py-2 min-w-[250px]">${porcentajetotal === 0 ? '' : porcentajetotal.toFixed(2)}%</td>`;
        fila += `</tr>`;

        return fila;
    }

    function generarFilaPorcentajeUtilidadNeta(mesesUnicos, tiposMap, utilidadNetaPorMes) {
        
        const totalesIngresosExplotacion = {};
        totalneto = 0;
        totalingreo = 0;
        if (tiposMap["Ingresos de la Explotación"]) {
            for (const item of tiposMap["Ingresos de la Explotación"]) {
                const claveMes = `${item.mes}/${item.anio}`;
                if (!totalesIngresosExplotacion[claveMes]) totalesIngresosExplotacion[claveMes] = 0;
                totalesIngresosExplotacion[claveMes] += item.monto;
                totalingreo+=item.monto;
            }
        }

        let fila = `<tr class="p-2 bg-gray-300 border border-black font-bold "><td class="text-left sticky left-0 bg-gray text-xs min-w-[300px]">% Utilidad neta</td>`;
        for (const mes of mesesUnicos) {
            const ingreso = totalesIngresosExplotacion[mes] || 0;
            const utilidad = utilidadNetaPorMes[mes] || 0;
            let porcentaje = 0;
            if (ingreso !== 0) {
                porcentaje = (utilidad / ingreso) * 100;
            }
            fila += `<td class="text-right text-xs border border-black px-4 py-2 min-w-[250px]">${porcentaje === 0 ? '' : porcentaje.toFixed(2)}%</td>`;
            totalneto+=utilidad;
        }
        let porcentajetotal = 0;
        if (totalingreo !== 0) {
                porcentajetotal = (totalneto / totalingreo) * 100;
            }
        fila += `<td class="text-right text-xs border border-black px-4 py-2 min-w-[250px]">${porcentajetotal === 0 ? '' : porcentajetotal.toFixed(2)}%</td>`;
        fila += `<td class="text-right text-xs border border-black px-4 py-2 min-w-[250px]">${porcentajetotal === 0 ? '' : porcentajetotal.toFixed(2)}%</td>`;
        
        fila += `</tr>`;
        return fila;
    }
</script>

@section Scripts {
    <script src="~/js/ExportarEstadoResultado.js"></script>
}