@model List<Proyectogestionhoras.Models.DTO.ReportesCostoRecursosDTO>
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Reportes Costos Socios";
}

<h2 style="margin-top: 50px;" class="text-2xl font-bold mb-4">Costos HH Socios Asignables a Proyecto</h2>
<button id="exportButton" class="mt-4 bg-green-500 text-white p-2 rounded">Exportar a Excel</button>
<div style="margin-top: 50px;" class="container mx-auto mt-4 p-4 bg-white rounded-lg shadow-md">
    <div class="overflow-x-auto">
        <table id="facturasTable" class="min-w-full divide-y divide-gray-200">
            <thead class="totales">
                <tr>
                    <th class="text-left text-xs font-medium "> Estado</th>
                    <th class="text-left text-xs font-medium ">Tipología </th>
                    <th class="text-left text-xs font-medium">Nombre</th>
                    <th class="text-left text-xs font-medium">Cliente</th>
                    <th class="text-left text-xs font-medium"> Num Proyecto</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200"></tbody>
        </table>
    </div>
</div>
<style>
    .bg-yellow {
        background-color: #fcf3cf; /* Cambia el color según tus necesidades */
    }

    .text-right {
        text-align: right; /* Alineación del texto a la derecha */
    }

    .totales {
        background-color: #d6eaf8;
    }

    .ancho {
        width: 100px;
    }
</style>



<script>
    const datosFactura = @Html.Raw(JsonConvert.SerializeObject(Model));

    function formatearMes(fecha) {
        const date = new Date(fecha);
        const mes = date.getMonth() + 1;
        const año = date.getFullYear();
        return `${mes.toString().padStart(2, '0')}-${año}`;
    }

    function formatearMiles(valor) {
        return valor.toLocaleString('de-DE', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
    }


    function limpiarFormatoMiles(valor) {
        return parseFloat(valor.toString().replace(/\./g, '').replace(',', '.'));
    }

    const datosAgrupados = {};
    const totalesPorEstado = {
        "En Ejecución": { sumaNeto: 0, meses: {}, totalAnual: {} },
        "En Negociación": { sumaNeto: 0, meses: {}, totalAnual: {} },
        "A Licitar": { sumaNeto: 0, meses: {}, totalAnual: {} }
    };

    const totalPorMes = {};
    const totalPorAño = {};
    let totalFinal = 0; // Suma total general

    datosFactura.forEach(factura => {
        const mes = formatearMes(factura.FechaFactura);
        const año = factura.FechaFactura.split('-')[0];

        if (!datosAgrupados[factura.NumProyecto]) {
            datosAgrupados[factura.NumProyecto] = {
                Nombre: factura.Nombre,
                NombreCliente: factura.NombreCliente,
                TipoStatus: factura.TipoStatus,
                TipoTipologia: factura.TipoTipologia,
                Meses: {},
                TotalAnual: {}
            };
        }

        if (!datosAgrupados[factura.NumProyecto].Meses[mes]) {
            datosAgrupados[factura.NumProyecto].Meses[mes] = 0;
        }
        datosAgrupados[factura.NumProyecto].Meses[mes] += factura.CostoRecurso;

        if (!datosAgrupados[factura.NumProyecto].TotalAnual[año]) {
            datosAgrupados[factura.NumProyecto].TotalAnual[año] = 0;
        }
        datosAgrupados[factura.NumProyecto].TotalAnual[año] += factura.CostoRecurso;

        if (totalesPorEstado[factura.TipoStatus]) {
            totalesPorEstado[factura.TipoStatus].sumaNeto += factura.CostoRecurso;
            if (!totalesPorEstado[factura.TipoStatus].meses[mes]) {
                totalesPorEstado[factura.TipoStatus].meses[mes] = 0;
            }
            totalesPorEstado[factura.TipoStatus].meses[mes] += factura.CostoRecurso;

            if (!totalesPorEstado[factura.TipoStatus].totalAnual[año]) {
                totalesPorEstado[factura.TipoStatus].totalAnual[año] = 0;
            }
            totalesPorEstado[factura.TipoStatus].totalAnual[año] += factura.CostoRecurso;

            if (!totalPorMes[mes]) {
                totalPorMes[mes] = 0;
            }
            totalPorMes[mes] += factura.CostoRecurso;

            if (!totalPorAño[año]) {
                totalPorAño[año] = 0;
            }
            totalPorAño[año] += factura.CostoRecurso;
        }

        totalFinal += factura.CostoRecurso; // Acumula el total general
    });

    const generarTabla = (datos) => {
        const tabla = document.querySelector('#facturasTable tbody');
        const cabecera = document.querySelector('#facturasTable thead tr');

        const mesesUnicos = new Set();
        const añosUnicos = new Set();
        for (let proyecto in datos) {
            for (let mes in datos[proyecto].Meses) {
                mesesUnicos.add(mes);
            }
            Object.keys(datos[proyecto].TotalAnual).forEach(año => añosUnicos.add(año));
        }

        const mesesArray = Array.from(mesesUnicos).sort((a, b) => {
            const [mesA, añoA] = a.split('-').map(Number);
            const [mesB, añoB] = b.split('-').map(Number);
            return añoA - añoB || mesA - mesB;
        });

        const añosArray = Array.from(añosUnicos).sort((a, b) => a - b);

        mesesArray.forEach(mes => {
            const th = document.createElement('th');
            th.innerText = mes;
            th.classList.add("text-xs", "font-medium", "px-4", "py-2", "min-w-[150px]");
            cabecera.appendChild(th);
        });

        añosArray.forEach(año => {
            const thAño = document.createElement('th');
            thAño.innerText = `Total ${año}`;
            thAño.classList.add("text-xs", "font-medium", "px-4", "py-2", "min-w-[150px]");
            cabecera.appendChild(thAño);
        });

        const thTotalProyecto = document.createElement('th');
        thTotalProyecto.innerText = 'Totales Generales';
        thTotalProyecto.classList.add("text-xs", "font-medium", "px-4", "py-2", "min-w-[150px]");
        cabecera.appendChild(thTotalProyecto);

        const proyectosOrdenados = Object.keys(datos).sort((a, b) => {
            const estadoA = datos[a].TipoStatus.toLowerCase();
            const estadoB = datos[b].TipoStatus.toLowerCase();
            const tipologiaA = datos[a].TipoTipologia.toLowerCase();
            const tipologiaB = datos[b].TipoTipologia.toLowerCase();

            const ordenEstado = {
                "en ejecución": 1,
                "en negociación": 2,
                "a licitar": 3
            };

            const ordenEstadoComparacion = (ordenEstado[estadoA] || 99) - (ordenEstado[estadoB] || 99);
            if (ordenEstadoComparacion !== 0) return ordenEstadoComparacion;

            return tipologiaA.localeCompare(tipologiaB);
        });

        let totalPorEstado = {};
        let totalEstadoActual = null;

        proyectosOrdenados.forEach(proyecto => {
            const proyectoData = datos[proyecto];

            if (totalEstadoActual !== proyectoData.TipoStatus) {
                if (totalEstadoActual !== null) {
                    const totalRow = tabla.insertRow();
                    const totalCell = totalRow.insertCell();
                    totalCell.colSpan = 5;
                    totalCell.innerText = `Total ${totalEstadoActual}`;
                    totalCell.classList.add("border", "border-black", "bg-yellow", "text-xs", "px-4", "py-2", "min-w-[150px]");
                    mesesArray.forEach(mes => {
                        const cell = totalRow.insertCell();
                        const totalMes = totalPorEstado[totalEstadoActual]?.meses[mes] || 0;
                        cell.innerText = formatearMiles(Math.round(totalMes));
                        cell.classList.add("border", "border-black", "bg-yellow", "text-right", "text-xs", "px-4", "py-2", "min-w-[150px]");
                    });

                    añosArray.forEach(año => {
                        const totalAnualCell = totalRow.insertCell();
                        const totalAnual = totalPorEstado[totalEstadoActual]?.totalAnual[año] || 0;
                        totalAnualCell.innerText = formatearMiles(Math.round(totalAnual));
                        totalAnualCell.classList.add("border", "border-black", "bg-yellow", "text-right", "text-xs", "px-4", "py-2", "min-w-[150px]");
                    });
                    const totalProyectoCell = totalRow.insertCell();
                    totalProyectoCell.innerText = formatearMiles(totalPorEstado[totalEstadoActual].sumaNeto);
                    totalProyectoCell.classList.add("border", "border-black", "bg-yellow", "text-right", "text-xs", "px-4", "py-2", "min-w-[150px]");
                }

                totalEstadoActual = proyectoData.TipoStatus;
                totalPorEstado[totalEstadoActual] = { sumaNeto: 0, meses: {}, totalAnual: {} };
            }

            const row = tabla.insertRow();
            // Crea las celdas y aplica las clases CSS
            const cell1 = row.insertCell();
            cell1.innerText = proyectoData.TipoStatus;
            cell1.className = "text-xs"; // Aplica clase CSS

            const cell2 = row.insertCell();
            cell2.innerText = proyectoData.TipoTipologia;
            cell2.className = "text-xs"; // Aplica clase CSS

            const cell3 = row.insertCell();
            cell3.innerText = proyectoData.Nombre;
            cell3.className = "text-xs"; // Aplica clase CSS

            const cell4 = row.insertCell();
            cell4.innerText = proyectoData.NombreCliente;
            cell4.className = "text-xs"; // Aplica clase CSS

            const cell5 = row.insertCell();
            cell5.innerText = "'" + proyecto;
            cell5.className = "text-xs";

            let totalProyecto = 0;
            mesesArray.forEach(mes => {
                const cell = row.insertCell();
                const valorMes = proyectoData.Meses[mes] || 0;
                cell.innerText = formatearMiles(Math.round(valorMes));
                cell.classList.add("border", "border-black", "text-right", "text-xs", "px-4", "py-2", "min-w-[150px]");
                totalProyecto += valorMes;
                if (!totalPorEstado[totalEstadoActual].meses[mes]) {
                    totalPorEstado[totalEstadoActual].meses[mes] = 0;
                }
                totalPorEstado[totalEstadoActual].meses[mes] += valorMes;
            });

            añosArray.forEach(año => {
                const totalAnual = proyectoData.TotalAnual[año] || 0;
                const totalAnualCell = row.insertCell();
                const totalAnualTruncado = Math.floor(totalAnual);
                totalAnualCell.innerText = formatearMiles(totalAnualTruncado);
                totalAnualCell.classList.add("border", "border-black", "text-right", "text-xs", "px-4", "py-2", "min-w-[150px]");
                totalPorEstado[totalEstadoActual].totalAnual[año] = (totalPorEstado[totalEstadoActual].totalAnual[año] || 0) + totalAnual;
            });

            const totalCell = row.insertCell();
            totalproyectotruncado = Math.round(totalProyecto);
            totalCell.innerText = formatearMiles(totalproyectotruncado);
            totalCell.classList.add("border", "border-black", "text-right", "text-xs", "px-4", "py-2", "min-w-[150px]");
            totalPorEstado[totalEstadoActual].sumaNeto += totalProyecto;
        });

        if (totalEstadoActual !== null) {
            const totalRow = tabla.insertRow();
            const totalCell = totalRow.insertCell();
            totalCell.colSpan = 5;
            totalCell.innerText = `Total ${totalEstadoActual}`;
            totalCell.classList.add("border", "border-black", "bg-yellow", "text-xs", "px-4", "py-2", "min-w-[150px]");
            mesesArray.forEach(mes => {
                const cell = totalRow.insertCell();
                const totalMes = totalPorEstado[totalEstadoActual]?.meses[mes] || 0;
                cell.innerText = formatearMiles(Math.floor(totalMes));
                cell.classList.add("border", "border-black", "bg-yellow", "text-right", "text-xs", "px-4", "py-2", "min-w-[150px]");
            });

            añosArray.forEach(año => {
                const totalAnualCell = totalRow.insertCell();
                const totalAnual = totalPorEstado[totalEstadoActual]?.totalAnual[año] || 0;
                const totalAnualTruncado = Math.floor(totalAnual);
                totalAnualCell.innerText = formatearMiles(totalAnualTruncado);
                totalAnualCell.classList.add("border", "border-black", "bg-yellow", "text-right", "text-xs", "px-4", "py-2", "min-w-[150px]");
            });
            const totalProyectoCell = totalRow.insertCell();
            totalProyectoCell.innerText = formatearMiles(Math.round(totalPorEstado[totalEstadoActual].sumaNeto));
            totalProyectoCell.classList.add("border", "border-black", "bg-yellow", "text-right", "text-xs", "px-4", "py-2", "min-w-[150px]");
        }

        // Añadir fila de totales generales
        const filaTotalGeneral = tabla.insertRow();
        const celdaTotalGeneral = filaTotalGeneral.insertCell();
        celdaTotalGeneral.colSpan = 5;
        celdaTotalGeneral.innerText = 'Total General';
        celdaTotalGeneral.classList.add("border", "border-black", "totales", "text-xs", "px-4", "py-2", "min-w-[150px]");
        mesesArray.forEach(mes => {
            const celdaMes = filaTotalGeneral.insertCell();
            const totalMesGeneral = totalPorMes[mes] || 0;
            const totalMesGeneralTruncado = Math.round(totalMesGeneral);
            celdaMes.innerText = formatearMiles(totalMesGeneralTruncado);
            celdaMes.classList.add("border", "border-black", "text-right", "totales", "text-right", "text-xs", "px-4", "py-2", "min-w-[150px]");
        });

        añosArray.forEach(año => {
            const celdaAnual = filaTotalGeneral.insertCell();
            const totalAnualGeneral = totalPorAño[año] || 0;
            const totalAnualGeneralTruncado = Math.round(totalAnualGeneral);
            celdaAnual.innerText = formatearMiles(totalAnualGeneralTruncado);
            celdaAnual.classList.add("border", "border-black", "text-right", "totales", "text-right", "text-xs", "px-4", "py-2", "min-w-[150px]");
        });

        // Celda para total general
        const celdaTotalGeneralFinal = filaTotalGeneral.insertCell();
        celdaTotalGeneralFinal.innerText = formatearMiles(Math.round(totalFinal));
        celdaTotalGeneralFinal.classList.add("border", "border-black", "totales", "text-right", "text-xs", "px-4", "py-2", "min-w-[150px]");
    }

    generarTabla(datosAgrupados);

    const exportarAExcel = async () => {
        const wb = new ExcelJS.Workbook();
        const ws = wb.addWorksheet("Socio");
        const response = await fetch('/images/unitt.png');
        const imageBlob = await response.blob();
        const arrayBuffer = await imageBlob.arrayBuffer();
        const logoImageId = wb.addImage({
            buffer: arrayBuffer,
            extension: 'png'
        });


        ws.addImage(logoImageId, {
            tl: { col: 0, row: 0 },
            ext: { width: 150, height: 50 }
        });
        ws.mergeCells('E3:I3');
        const titulo = ws.getCell('E3');
        titulo.value = "Costos HH Socios Asignables a Proyecto";
        titulo.font = { size: 16, bold: true };
        titulo.alignment = { vertical: 'middle', horizontal: 'center' };

        ws.addRow([]);
        ws.addRow([]);

        const tabla = document.getElementById('facturasTable');
        const filas = tabla.getElementsByTagName('tr');


        const encabezados = [];
        for (let i = 0; i < filas[0].cells.length; i++) {
            const celda = filas[0].cells[i];
            const colspan = celda.colSpan || 1;
            for (let j = 0; j < colspan; j++) {
                encabezados.push(celda.innerText);
            }
        }
        ws.addRow(encabezados);
        ws.columns = encabezados.map(() => ({ width: 15 }));

        for (let i = 1; i < filas.length; i++) {
            const celdas = filas[i].cells;
            const filaData = [];

            for (let j = 0; j < celdas.length; j++) {
                const celda = celdas[j];
                const colspan = celda.colSpan || 1;


                const valorTexto = celda.innerText.replace(/\./g, '').replace(/,/g, '.');
                const valorFloat = parseFloat(valorTexto);
                filaData.push(isNaN(valorFloat) ? celda.innerText : valorFloat);


                for (let k = 1; k < colspan; k++) {
                    filaData.push('');
                }
            }

            const nuevaFila = ws.addRow(filaData);
            filaData.forEach((cellValue, index) => {
                if (typeof cellValue === 'number' && !isNaN(cellValue)) {
                    nuevaFila.getCell(index + 1).numFmt = '#,##0';
                    nuevaFila.getCell(index + 1).alignment = { horizontal: 'right' };
                } else {
                    nuevaFila.getCell(index + 1).alignment = { horizontal: 'left' };
                }
            });
        }


        const buffer = await wb.xlsx.writeBuffer();
        const blob = new Blob([buffer], { type: "application/octet-stream" });
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement("a");
        a.href = url;
        a.download = "Reporte_Costos_Socios.xlsx";
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
        window.URL.revokeObjectURL(url);
    };
    document.getElementById('exportButton').addEventListener('click', exportarAExcel);
</script>