
@{
    ViewData["Title"] = "Flujo de Caja Proyectos";
}

<h2 style="margin-top: 50px;" class="text-2xl font-bold mb-4">Flujo de Caja de Proyectos</h2>
<div class="container mx-auto mb-4 p-4 bg-white rounded-lg shadow-md">
    <p class="text-sm text-gray-600">Muestra el resumen de flujo de caja de los proyectos en ejecución y terminados.</p>
</div>
    <a href="@Url.Action("ExportarFlujoCaja","Reporte")" class="mt-4 bg-green-500 text-white p-2 rounded">Exportar a Excel</a>
<div class="container mx-auto mt-4 p-4 bg-white rounded-lg shadow-md">
    <div class="overflow-x-auto relative">
        <div class="w-full max-w-3xl border-collapse text-left text-xs" id="tables-container"></div>

    </div>


</div>



<script>

    async function fetchProjectData(projectId) {
        try {
            const response = await fetch(`/EjecucionProyecto/ObtenerFlujo/${projectId}`);
            const data = await response.json();
            return data;
        } catch (error) {
            console.error('Error al obtener los datos:', error);
            return [];
        }
    }

    function formatearMiles(valor) {
        return valor.toLocaleString('de-DE', { minimumFractionDigits: 0, maximumFractionDigits: 0 });

    }



    function generateTables(data) {
        const container = document.getElementById('tables-container');
        container.innerHTML = ''; 

        // Agrupar datos por proyecto
        const projects = data.reduce((acc, curr) => {
            if (!acc[curr.nombreProyecto]) {
                acc[curr.nombreProyecto] = [];
            }
            acc[curr.nombreProyecto].push(curr);
            return acc;
        }, {});

        const projectNames = Object.keys(projects).sort();
        // Crear una tabla por proyecto
        projectNames.forEach(projectName => {
            const projectData = projects[projectName];
            const table = document.createElement('table');
            const title = document.createElement('div');
            title.className = 'font-bold text-l';
            title.textContent = `Proyecto: ${projectName}`;
            container.appendChild(title);

            // Cabecera principal
            const headerRow = document.createElement('tr');
            headerRow.className = 'bg-blue-100 text-black';
            headerRow.innerHTML = `
                <th  class="p-2 border border-gray-300 text-center">Tipo</th>
                <th  class="p-2 border border-gray-300 text-center">ID Cuenta</th>
                <th  class="p-2 border border-gray-300 text-center">Cuenta</th>
                ${generateMonthHeaders(projectData)}
                <th class="p-2 border border-gray-300 text-center">Total Real</th>
                <th class="p-2 border border-gray-300 text-center">Total Proyectado</th>
                <th class="p-2 border border-gray-300 text-center">Total Forecast</th>
            `;
            table.appendChild(headerRow);

            // Subcabecera (Proyectado, Real, Forecast)
            const subHeaderRow = document.createElement('tr');
            subHeaderRow.className = 'bg-gray-200 text-black';
            subHeaderRow.innerHTML = `
                <td></td>
                <td></td>
                <td></td>
                ${generateSubHeaders(projectData)}
                <td></td>
                <td></td>
                <td></td>
            `;
            table.appendChild(subHeaderRow);
            const totalegresos = {};
            const totalIngresos = {};

              const groupedByTypes = projectData.reduce((acc, curr) => {
                if (!acc[curr.tipo]) {
                    acc[curr.tipo] = [];
                }
                acc[curr.tipo].push(curr);
                return acc;
            }, {});

             for (const [tipo, typeData] of Object.entries(groupedByTypes)) {
                const uniqueRows = {};

            
                typeData.forEach(row => {
                    const key = `${row.idCuenta}-${row.cuenta}`;
                    if (!uniqueRows[key]) {
                        uniqueRows[key] = {
                            idCuenta: row.idCuenta,
                            cuenta: row.cuenta,
                            data: {}
                        };
                    }
                    uniqueRows[key].data[`${row.mes}/${row.anio}-${row.estado}`] = row.monto;
                    const monthKey = `${row.mes}/${row.anio}-${row.estado}`;
                    if (tipo !== 'Ingreso') {
                        if (!totalegresos[monthKey]) totalegresos[monthKey] = 0;
                        totalegresos[monthKey] += row.monto || 0;
                    }
                    else {
                        if (!totalIngresos[monthKey]) totalIngresos[monthKey] = 0;
                        totalIngresos[monthKey] += row.monto || 0;
                    }
                });

            }




             const groupedByType = projectData.reduce((acc, curr) => {
            const key = `${curr.tipo}-${curr.idCuenta}-${curr.cuenta}`;
            if (!acc[key]) {
                acc[key] = {
                    tipo: curr.tipo,
                    idCuenta: curr.idCuenta,
                    cuenta: curr.cuenta,
                    data: {}
                };
            }

        
            const monthKey = `${curr.mes}/${curr.anio}`;
            const estadoKey = `${monthKey}-${curr.estado}`;
            if (!acc[key].data[estadoKey]) {
                acc[key].data[estadoKey] = 0;
            }
            acc[key].data[estadoKey] += curr.monto || 0;

   


            return acc;
        }, {});

      
        Object.values(groupedByType).forEach(row => {
            const dataRow = document.createElement('tr');
            dataRow.innerHTML = `
                <td class="text-left text-xs font-medium sticky left-0 bg-white min-w-[250px]">${row.tipo}</td>
                <td class="text-left text-xs font-medium">${row.idCuenta}</td>
                <td class="text-left text-xs font-medium min-w-[150px]">${row.cuenta}</td>
                ${generateDataCells(row.data, projectData)}
                <td class="text-xs border font-bold text-right border-black px-4 py-2 min-w-[100px]">${calculateTotalReal(row.data, projectData)}</td>
                <td class="text-xs border font-bold text-right border-black px-4 py-2 min-w-[100px]">${calculateTotalProyectado(row.data, projectData)}</td>
                <td class="text-xs border font-bold text-right text-red-500 border-black px-4 py-2 min-w-[100px]">${calculateTotalForecast(row.data, projectData)}</td>
            `;
            table.appendChild(dataRow);
        });
           
           const totalegresosRow = document.createElement('tr');
            totalegresosRow.className = 'bg-red-100';
            totalegresosRow.innerHTML = `
                <td class="text-left text-xs font-medium font-bold sticky left-0 bg-red-100">Total Egresos</td>
                <td></td>
                <td></td>
                ${generateTotalCells(totalegresos, projectData)}

            `;
            table.appendChild(totalegresosRow);

              
            const marginRow = document.createElement('tr');
            marginRow.className = 'bg-gray-300 font-bold';
            marginRow.innerHTML = `
                <td class="text-left text-xs font-medium font-bold sticky left-0 bg-gray-300">Margen de Contribución</td>
                <td></td>
                <td></td>
                ${generateMarginCells(totalIngresos, totalegresos, projectData)}
            `;
            table.appendChild(marginRow);

            const porcentajemarginRow = document.createElement('tr');
            porcentajemarginRow.className = 'bg-green-100 font-bold';
            porcentajemarginRow.innerHTML = `
                    <td class="text-left text-xs font-medium sticky left-0 bg-green-100">Margen de Contribución(%)</td>
                    <td></td>
                    <td></td>
                   ${generateporcentajeMarginCells(totalIngresos, totalegresos, projectData)}
                `;
            table.appendChild(porcentajemarginRow);


            const saldoAcumuladoRow = document.createElement('tr');
            saldoAcumuladoRow.className = 'bg-yellow-100 font-bold';
            saldoAcumuladoRow.innerHTML = `
                <td class="text-left text-xs font-medium  sticky left-0 bg-yellow-100">Saldo Acumulado</td>
                <td></td>
                <td></td>
                ${generateAccumulatedCells(totalIngresos, totalegresos, projectData)}
            `;
            table.appendChild(saldoAcumuladoRow);



            container.appendChild(table);
            const separator = document.createElement('div');
            separator.style.height = '20px';
            container.appendChild(separator);
        });
    }


        function calculateTotalReal(rowData, projectData) {
        const uniqueMonths = [...new Set(projectData.map(item => `${item.mes}/${item.anio}`))];
        const totalReal = uniqueMonths.reduce((total, month) => {
            const realValue = rowData[`${month}-Real`] || 0;
            return total + realValue;
        }, 0);

       
        return totalReal === 0 ? '' : formatearMiles(totalReal);
    }

    function calculateTotalProyectado(rowData, projectData) {
        const uniqueMonths = [...new Set(projectData.map(item => `${item.mes}/${item.anio}`))];
        const totalProyectado = uniqueMonths.reduce((total, month) => {
            const proyectadoValue = rowData[`${month}-Proyectado`] || 0;
            return total + proyectadoValue;
        }, 0);

        return totalProyectado === 0 ? '' : formatearMiles(totalProyectado);
    }
    function calculateTotalForecast(rowData, projectData) {
        const uniqueMonths = [...new Set(projectData.map(item => `${item.mes}/${item.anio}`))];
        const totalForecast = uniqueMonths.reduce((total, month) => {
            const forecastValue = rowData[`${month}-Forecast`] || 0;
            return total + forecastValue;
        }, 0);

        return totalForecast === 0 ? '' : formatearMiles(totalForecast);
    }

   
    function generateMonthHeaders(projectData) {
        const uniqueMonths = [...new Set(projectData.map(item => `${item.mes}/${item.anio}`))];
        const sortedMonths = uniqueMonths.sort((a, b) => {
            const [mesA, anioA] = a.split('/').map(Number);
            const [mesB, anioB] = b.split('/').map(Number);
            return anioA - anioB || mesA - mesB; 
        });
        return sortedMonths.map(month => `<th class="p-2 border border-gray-300 text-center" colspan="3">${month}</th>`).join('');
    }


    function generateSubHeaders(projectData) {
        const uniqueMonths = [...new Set(projectData.map(item => `${item.mes}/${item.anio}`))];
        const sortedMonths = uniqueMonths.sort((a, b) => {
            const [mesA, anioA] = a.split('/').map(Number);
            const [mesB, anioB] = b.split('/').map(Number);
            return anioA - anioB || mesA - mesB; 
        });
        return sortedMonths.map(() => `
                <td class="p-2 border border-gray-300  text-center">Proyectado</td>
                <td class="p-2 border border-gray-300  text-center">Real</td>
                <td class="p-2 border border-gray-300  text-center">Forecast</td>
        `).join('');
    }

   


       function generateDataCells(rowData, projectData) {
        const uniqueMonths = [...new Set(projectData.map(item => `${item.mes}/${item.anio}`))];
        const sortedMonths = uniqueMonths.sort((a, b) => {
            const [mesA, anioA] = a.split('/').map(Number);
            const [mesB, anioB] = b.split('/').map(Number);
            return anioA - anioB || mesA - mesB; 
        });

        
        const accumulatedData = {};

        sortedMonths.forEach(month => {
            accumulatedData[`${month}-Proyectado`] = 0;
            accumulatedData[`${month}-Real`] = 0;
            accumulatedData[`${month}-Forecast`] = 0;
        });


        Object.keys(rowData).forEach(key => {
            const [month, estado] = key.split('-');
            if (accumulatedData[key] !== undefined) {
                accumulatedData[key] += rowData[key] || 0;
            }
        });

       
        return sortedMonths
            .map(month => `
                   <td class="text-xs border font-bold text-right border-black px-4 py-2 min-w-[100px]">
                        ${accumulatedData[`${month}-Proyectado`] === 0 ? '' : formatearMiles(accumulatedData[`${month}-Proyectado`])}
                    </td>
                    <td class="text-xs border font-bold text-right border-black px-4 py-2 min-w-[100px]">
                        ${accumulatedData[`${month}-Real`] === 0 ? '' : formatearMiles(accumulatedData[`${month}-Real`])}
                    </td>
                    <td class="text-xs border font-bold text-right text-red-500 border-black px-4 py-2 min-w-[100px]">
                        ${accumulatedData[`${month}-Forecast`] === 0 ? '' : formatearMiles(accumulatedData[`${month}-Forecast`])}
                    </td>
            `)
            .join('');
    }

    
    function generateTotalCells(totals, projectData) {
        const uniqueMonths = [...new Set(projectData.map(item => `${item.mes}/${item.anio}`))];
        const sortedMonths = uniqueMonths.sort((a, b) => {
            const [mesA, anioA] = a.split('/').map(Number);
            const [mesB, anioB] = b.split('/').map(Number);
            return anioA - anioB || mesA - mesB; 
        });

        let totalProyectado = 0;
        let totalReal = 0;
        let totalForecast = 0;

 
        const cellsArray = sortedMonths.map(month => {
            const proyectado = totals[`${month}-Proyectado`] || 0;
            const real = totals[`${month}-Real`] || 0;
            const forecast = totals[`${month}-Forecast`] || 0;


            totalProyectado += proyectado;
            totalReal += real;
            totalForecast += forecast;

            return `
                <td class="text-xs border font-bold text-right border-black px-4 py-2 min-w-[100px]">${proyectado !== 0 ? formatearMiles(proyectado) : ''}</td>
                <td class="text-xs border font-bold text-right border-black px-4 py-2 min-w-[100px]">${real !== 0 ? formatearMiles(real) : ''}</td>
                <td class="text-xs border font-bold text-right border-black px-4 py-2 min-w-[100px]">${forecast !== 0 ? formatearMiles(forecast) : ''}</td>
            `;
        });

       
        cellsArray.push(`
                 <td class="text-xs border font-bold text-right border-black px-4 py-2 min-w-[100px]" >${totalReal !== 0 ? formatearMiles(totalReal) : ''}</td>
                 <td class="text-xs border font-bold text-right border-black px-4 py-2 min-w-[100px]">${totalProyectado !== 0 ? formatearMiles(totalProyectado) : ''}</td>
                 <td class="text-xs border font-bold text-right border-black px-4 py-2 min-w-[100px]">${totalForecast !== 0 ? formatearMiles(totalForecast) : ''}</td>
        `);

        
        return cellsArray.join('');
    }



    function generateMarginCells(ingresos, egresos, projectData) {
        const uniqueMonths = [...new Set(projectData.map(item => `${item.mes}/${item.anio}`))];
        const sortedMonths = uniqueMonths.sort((a, b) => {
            const [mesA, anioA] = a.split('/').map(Number);
            const [mesB, anioB] = b.split('/').map(Number);
            return anioA - anioB || mesA - mesB; 
        });


        let totalReal = 0;
        let totalProyectado = 0;
  

        const cells = sortedMonths
            .map(month => {
            
                const ingresoReal = ingresos[`${month}-Real`] || 0;
                const egresoReal = egresos[`${month}-Real`] || 0;
        
                const margenrealas = ingresoReal - egresoReal;
                
 
                totalReal += ingresoReal - egresoReal;
                
                return `
                    <td class="text-xs border  text-right border-black px-4 py-2 min-w-[100px]">${(ingresos[`${month}-Proyectado`] || 0) - (egresos[`${month}-Proyectado`] || 0) === 0 ? '' : formatearMiles((ingresos[`${month}-Proyectado`] || 0) - (egresos[`${month}-Proyectado`] || 0))}</td>
                    <td class="text-xs border  text-right border-black px-4 py-2 min-w-[100px]">${margenrealas !== 0 ? formatearMiles(margenrealas) : ''}</td>
                    <td class="text-xs border  text-right border-black px-4 py-2 min-w-[100px]"></td>
                    `;
            })
            .join('');

        
        return `
            ${cells}
            <td class="text-xs border  text-right border-black px-4 py-2 min-w-[100px]">${totalReal !== 0 ? formatearMiles(totalReal) : ''}</td>
            <td></td>
            <td></td>
        `;
    }

    function generateporcentajeMarginCells(ingresos, egresos, projectData) {
        const uniqueMonths = [...new Set(projectData.map(item => `${item.mes}/${item.anio}`))];
        const sortedMonths = uniqueMonths.sort((a, b) => {
            const [mesA, anioA] = a.split('/').map(Number);
            const [mesB, anioB] = b.split('/').map(Number);
            return anioA - anioB || mesA - mesB; // Ordenar por año, luego por mes
        });

       
        let totalIngresoReal = 0;
        let totalEgresoReal = 0;

        const cells = sortedMonths
            .map(month => {
                // Calcular margen de contribución en %
                const ingresoReal = ingresos[`${month}-Real`] || 0;
                const egresoReal = egresos[`${month}-Real`] || 0;
                const margenReal = ingresoReal > 0 ? ((ingresoReal - egresoReal) / ingresoReal) * 100 : 0;

          
                totalIngresoReal += ingresoReal;
                totalEgresoReal += egresoReal;

                return `
                        <td class="text-xs border  text-right border-black px-4 py-2 min-w-[100px]"></td>
                        <td class="text-xs border  text-right border-black px-4 py-2 min-w-[100px]">${margenReal.toFixed(2)}%</td>
                        <td class="text-xs border  text-right border-black px-4 py-2 min-w-[100px]"></td>
                `;
            })
            .join('');


        const porcentajeFinal = totalIngresoReal > 0 ? ((totalIngresoReal - totalEgresoReal) / totalIngresoReal) * 100 : 0;

        return `
            ${cells}
                <td class="text-xs border  text-right border-black px-4 py-2 min-w-[100px]">${porcentajeFinal.toFixed(2)}%</td>
                <td></td>
            <td></td> 
        `;
    }

 
    function generateAccumulatedCells(ingresos, egresos, projectData) {
        const uniqueMonths = [...new Set(projectData.map(item => `${item.mes}/${item.anio}`))];
        const sortedMonths = uniqueMonths.sort((a, b) => {
            const [mesA, anioA] = a.split('/').map(Number);
            const [mesB, anioB] = b.split('/').map(Number);
            return anioA - anioB || mesA - mesB; 
        });

        let acumulado = 0;
        let totalReal = 0;

        const cells = sortedMonths
            .map(month => {
                const ingresoReal = ingresos[`${month}-Real`] || 0;
                const egresoReal = egresos[`${month}-Real`] || 0;
                const margenReal = ingresoReal - egresoReal;
                acumulado += margenReal;
                totalReal += margenReal;
                return `<td  class="text-xs border text-center border-black px-4 py-2 min-w-[100px]" colspan="3">${acumulado !== 0 ? formatearMiles(acumulado) : ''}</td>`;
            })
            .join('');

        
        return `
            ${cells}
            <td  class="text-xs border text-right border-black px-4 py-2 min-w-[100px]">${totalReal !== 0 ? formatearMiles(totalReal) : ''}</td>
        `;
    }


    fetchProjectData(0).then(data => generateTables(data));
</script>


