USE [PROYECTO_CONTROL_HORAS]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetHorasPorUsuarioPorMes]    Script Date: 15/10/2024 19:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetHorasPorUsuarioPorMes]
    @IdUsuario INT
AS
BEGIN
    SELECT 
        p.Nombre AS NombreProyecto,
        u.Nombre AS NombreUsuario,
        YEAR(ISNULL(pup.Fecha_Registro, GETDATE())) AS Año, -- Si no hay horas, toma el año actual
        MONTH(ISNULL(pup.Fecha_Registro, GETDATE())) AS Mes, -- Si no hay horas, toma el mes actual
        ISNULL(SUM(pup.Registro_Hh_Proyecto), 0) AS TotalHoras, -- Si no hay horas, mostrar 0
        p.Fecha_Inicio,
        p.Fecha_Termino
    FROM 
        Proyecto p
   LEFT JOIN 
        Usuario_Proyecto up ON p.ID = up.Id_Proyecto
   LEFT JOIN 
        Usuario u ON up.Id_Usuario = u.Id
   LEFT JOIN 
        PLANILLA_USUSARIO_PROYECTO pup ON up.Id = pup.ID_USU_PROY
    WHERE 
        p.STATUS_PROYECTO = 2  -- Filtrar proyectos en estado 2
        AND u.Id = @IdUsuario  -- Filtrar por usuario
        AND GETDATE() BETWEEN p.Fecha_Inicio AND p.Fecha_Termino  -- Filtrar por fechas activas del proyecto
    GROUP BY 
        p.Nombre, u.Nombre, YEAR(ISNULL(pup.Fecha_Registro, GETDATE())), 
        MONTH(ISNULL(pup.Fecha_Registro, GETDATE())), p.Fecha_Inicio, p.Fecha_Termino
    ORDER BY 
        Año, Mes;
END
