USE [PROYECTO_CONTROL_HORAS]
GO
/****** Object:  StoredProcedure [dbo].[PROYECTOSUSUARIOS]    Script Date: 11-10-2024 22:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PROYECTOSUSUARIO]
    @IDUSUARIO INT
AS
BEGIN
    DECLARE @RECURSO VARCHAR(100);
    DECLARE @TIPO_CONSULTOR VARCHAR(200);
    DECLARE @HHASIGNADAS INT;

    -- Obtener el recurso y el tipo de consultor
    SELECT 
        @RECURSO = R.NOMBRE_RECURSO,
        @TIPO_CONSULTOR = R.TIPO_CONSULTOR
    FROM USUARIO_PROYECTO UP
    INNER JOIN USUARIO U ON U.ID = UP.ID_USUARIO
    INNER JOIN RECURSO R ON R.ID = U.ID_RECURSO
    WHERE UP.ID_USUARIO = @IDUSUARIO;

    -- Asignación de horas asignadas basado en el recurso y tipo de consultor
    SELECT @HHASIGNADAS = CASE 
            WHEN @RECURSO = 'Socio' THEN UP.HH_SOCIOS
            WHEN @RECURSO = 'Staff' THEN UP.HH_STAFF
            WHEN @RECURSO = 'Consultor Externo' AND @TIPO_CONSULTOR = 'Consultor A' THEN UP.HH_CONSULTORA
            WHEN @RECURSO = 'Consultor Externo' AND @TIPO_CONSULTOR = 'Consultor B' THEN UP.HH_CONSULTORB
            WHEN @RECURSO = 'Consultor Externo' AND @TIPO_CONSULTOR = 'Consultor C' THEN UP.HH_CONSULTORC
            ELSE 0 -- Si no coincide, asigna 0 horas
        END
    FROM USUARIO_PROYECTO UP
    WHERE UP.ID_USUARIO = @IDUSUARIO;

    -- Seleccionar los proyectos si @HHASIGNADAS > 0
    IF @HHASIGNADAS > 0
    BEGIN
        SELECT 
            P.ID,
            P.NUM_PROYECTO AS NUMPROYECTO,
            P.NOMBRE AS NOMBREPROYECTO,
            C.NOMBRE AS NOMBRECLIENTE
        FROM PROYECTO P
        INNER JOIN SUCURSAL_CLIENTE SC ON SC.ID = P.ID_CLIENTE_SUCURSAL
        INNER JOIN CLIENTE C ON C.ID = SC.ID_CLIENTE
        INNER JOIN USUARIO_PROYECTO UP ON UP.ID_PROYECTO = P.ID
        WHERE UP.ID_USUARIO = @IDUSUARIO 
          AND P.STATUS_PROYECTO = 2;
    END;
END;
