

@{
    Layout = null;
    
}
<link rel="icon" href="~/favicon-unit.png type="image/x-icon">
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<title>Inicio Sesión | Unit</title>
<script src="https://cdn.tailwindcss.com"></script>
<div class="login-container">
    <div class="login-logo">
        <h1 class="login-title">Bienvenido a Unit Gestión de Proyectos</h1>
               
    </div>
    <h2 class="login-title">Iniciar Sesión</h2>
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-danger">
            @ViewBag.Error
        </div>
    }
    @if (!string.IsNullOrEmpty(ViewBag.Warning))
    {
        <div class="alert alert-warning">
            @ViewBag.Warning
        </div>
    }
    <form action="@Url.Action("Login", "Usuario")" method="post" enctype="multipart/form-data">
        
        <div class="form-group">
            <label for="rut">RUT</label>
            <input type="text" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-400" id="rut" name="rut" required>
        </div>

        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-400" name="contrasena" required>
        </div>

        <button type="submit" class="w-full py-2 bg-orange-500 hover:bg-orange-500 text-white font-semibold rounded-md transition duration-200">Iniciar Sesión</button>

     
    </form>
</div>
