

@{
    Layout = null;
    
}
<link rel="icon" href="~/favicon-unit.png type="image/x-icon">
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<title>Inicio Sesión | Unit</title>
<div class="login-container">
    <div class="login-logo">
        <h1 class="login-title">Bienvenido a Unit Gestión de Proyectos</h1>
               
    </div>
    <h2 class="login-title">Iniciar Sesión</h2>
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-danger">
            @ViewBag.Error
        </div>
    }
    @if (!string.IsNullOrEmpty(ViewBag.Warning))
    {
        <div class="alert alert-warning">
            @ViewBag.Warning
        </div>
    }
    <form action="@Url.Action("Login", "Usuario")" method="post" enctype="multipart/form-data">
        
        <div class="form-group">
            <label for="rut">RUT</label>
            <input type="text" id="rut" name="rut" required>
        </div>

        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="contrasena" required>
        </div>

        <button type="submit" class="login-btn">Iniciar Sesión</button>

     
    </form>
</div>
