.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 60px;
}

.dashboard-section {
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.projects-section {
    background-color: #fff;
}

.reports-section {
    background-color: #333232; 
    color: #fff; 
}

.section-header {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.projects-section .section-header {
    color: #333; 
}

.reports-section .section-header {
    color: #fff; 
}

.section-content {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
    background-color: #ffffff; 
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: background-color 0.3s, border-color 0.3s; 
}

    .card h3 {
        font-size: 1.125rem;
        font-weight: 600;
        color: #000; 
    }

    .card p {
        font-size: 0.875rem;
        color: #6c6c6c; 
    }

    .card.new {
        background-color: #333; 
        border-left: 4px solid #fcaa67;
        cursor: pointer;
        color: #fff; 
    }

        .card.new h3 {
            color: #fcaa67;
        }
        .card.new:hover {
            background-color: #333; 
            border-color: #fcaa67; 
        }

            .card.new:hover h3 {
                color: #fcaa67; 
            }

            .card.new:hover p {
                color: #fff; 
            }

    .card:hover {
        background-color: #333; 
        border: 2px solid #fcaa67; 
        cursor: pointer;
    }

        .card:hover h3 {
            color: #fcaa67; 
        }

        .card:hover p {
            color: #fff; 
        }
    
    .card.new-cliente {
        background-color: #fff; 
        border-left: 4px solid #fcaa67; 
        color: #333; 
        cursor: pointer;
    }

        .card.new-cliente h3 {
            color: #fcaa67; 
        }

        .card.new-cliente:hover {
            background-color: #fcaa67; 
            border-color: #fff; 
        }

            .card.new-cliente:hover h3 {
                color: #fff; 
            }

            .card.new-cliente:hover p {
                color: #fff; 
            }
/* Estilos del Modal Horizontal */
.modal-content {
    max-width: 900px; 
    width: 100%;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .modal-content form {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 1rem; 
    }

    .modal-content input {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        width: 100%;
    }

    .modal-content button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
    }

button:hover {
    opacity: 0.9;
}

.hidden {
    display: none;
}
.btn-ver-mas {
    background-color: #fcaa67; 
    color: #fff; 
    padding: 0.5rem 1rem; 
    border: none; 
    border-radius: 0.5rem; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

    .btn-ver-mas:hover {
        background-color: #333; 
    }