.projects-container {
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
}

.section-header {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #333;
}

.search-bar {
    margin-bottom: 1.5rem;
}

    .search-bar input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
    }

.filter-select {
    margin-bottom: 1.5rem;
}

    .filter-select select {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
    }

.section-content {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.card {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: background-color 0.3s, border-color 0.3s;
    height: 150px;
    margin-right: 1rem;
}
    .card.new-cliente {
        background-color: #333;
        border-left: 4px solid #fcaa67;
        cursor: pointer;
        color: #fff;
    }

        .card.new-cliente h3 {
            color: #fcaa67;
        }

    .card.new-cliente:hover {
        background-color: #fcaa67;
        border-color: #fff;
    }

        .card.new-cliente:hover h3 {
            color: #fff;
        }

        .card.new-cliente:hover p {
            color: #fff;
        }
