@{
    ViewData["Title"] = "Mis Proyectos";
}


<link rel="stylesheet" href="~/css/proyecto.css" asp-append-version="true" />


<div class="projects-container">
    <h1>@ViewData["Title"]</h1>

    <!-- Barra de búsqueda -->
    <div class="search-bar">
        <input type="text" id="projectSearch" placeholder="Buscar proyectos..." oninput="filterProjects()">
    </div>

    <!-- Secciones de proyectos -->
    <div class="projects-section">
        <div class="section-header">Proyectos A Licitar</div>
        <div class="section-content" id="licitadoProjects">

            @foreach (var proyecto in ViewBag.Proyectos)
            {
                @if (proyecto.Tipo_Status == "A Licitar")
                {
                    <a href="@Url.Action("ObtenerProyectos","Proyecto",new{id=proyecto.Id})">
                        <div class="card">
                            <h3>@proyecto.numproyecto</h3>
                            <p>@proyecto.NombreCliente</p>
                        </div>
                    </a>
                }

            }

        </div>
    </div>
</div>